# Packer
packer.pkrvars.hcl
crash.log
crash.*.log

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
override.tf.json
override.tf
crash.log
crash.*.log
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Credentials
.env
*.key
*.pem
