# Packer
packer.pkrvars.hcl
packer.example.hcl
crash.log
crash.*.log

# venv
venv/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
terraform.tfvars.json
override.tf.json
override.tf
crash.log
crash.*.log
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Credentials
.env
*.key
*.pem
ansible/group_vars/all.yml

# Python script
sha-512.py