---
# All servers common variables
# Copy this file to all.yml and fill in your credentials
# cp all.yml.example all.yml

ansible_user: ubuntu
ansible_ssh_pass: "YOUR_SSH_PASSWORD_HERE"
ansible_become: yes
ansible_become_method: sudo
ansible_python_interpreter: /usr/bin/python3

# Timezone
timezone: Europe/Amsterdam

# SOC Network configuration
soc_network: 192.168.50.0/24
honeypot_network: 192.168.52.0/24
